{{define "subject"}}Welcome to APOD!{{end}}

{{define "plainBody"}}
Hi,

Thanks for signing up for a APOD account. We are excited to have you on board!

For future reference your ID number is {{.ID}}.

Thanks,

The APOD Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
	<meta name="viewport" content="width=device-width"/>
	<meta http-equv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
	<p>Hi,</p>
	<p>Thanks for signing up for a APOD account. We are excited to have you on board!</p>
	<p>For future reference your ID number is {{.ID}}.</p>
	<p>Thanks,</p>
	<p>The APOD Team</p>
</body>

</html>
{{end}}